{% extends "account/base.html" %}
<!--{% load static %}-->



<!--{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}-->


{% load material_form %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Agendamento" %}{% endblock %}

{% block inner %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<div>-->
            <!--{{ form }}-->
        <!--</div>-->

        <!--<div>-->
            <!--<h3>Inline Endereço:</h3>-->
            <!--{{ endereco_inline }}-->
        <!--</div>-->
        {% form form=form layout=view.layout %}{% endform %}

        <!--{% for inline in inlines %}-->
            <!--<div>-->
                <!--{{ inline }}-->
            <!--</div>-->
        <!--{% empty %}-->
            <!--nada-->
        <!--{% endfor %}-->

        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>


{% endblock %}