{% extends "account/base.html" %}

{% load material_form %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Agendamento" %}{% endblock %}

{% block inner %}

    <form method="POST">
        {% csrf_token %}
        <!--{% form form=form %}{% endform %}-->
        {% form form=form layout=view.layout %}
            {% part form.name prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.birthday prefix %}<i class="material-icons prefix">perm_contact_calendar</i>{% endpart %}
        {% endform %}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>


{% endblock %}